# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [18]:
iris=pd.read_csv(r'iris.data')

### Step 4. Create columns for the dataset

In [19]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns=['sepal_length (in cm)','sepal_width (in cm)','petal_length (in cm)','petal_width (in cm)','class']

### Step 5.  Is there any missing value in the dataframe?

In [20]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [22]:
iris.iloc[10:30,2:3]=np.nan
iris.head(20)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,NaN,0.2,Iris-setosa
11,4.8,3.0,NaN,0.1,Iris-setosa
12,4.3,3.0,NaN,0.1,Iris-setosa
13,5.8,4.0,NaN,0.2,Iris-setosa
14,5.7,4.4,NaN,0.4,Iris-setosa
15,5.4,3.9,NaN,0.4,Iris-setosa
16,5.1,3.5,NaN,0.3,Iris-setosa
17,5.7,3.8,NaN,0.3,Iris-setosa
18,5.1,3.8,NaN,0.3,Iris-setosa
19,5.4,3.4,NaN,0.2,Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [23]:
iris['petal_length (in cm)'].fillna(1.0,inplace=True)
iris.head(20)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,1.0,0.2,Iris-setosa
11,4.8,3.0,1.0,0.1,Iris-setosa
12,4.3,3.0,1.0,0.1,Iris-setosa
13,5.8,4.0,1.0,0.2,Iris-setosa
14,5.7,4.4,1.0,0.4,Iris-setosa
15,5.4,3.9,1.0,0.4,Iris-setosa
16,5.1,3.5,1.0,0.3,Iris-setosa
17,5.7,3.8,1.0,0.3,Iris-setosa
18,5.1,3.8,1.0,0.3,Iris-setosa
19,5.4,3.4,1.0,0.2,Iris-setosa

### Step 8. Now let's delete the column class

In [35]:
iris.drop('class',axis=1,inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [36]:
iris.iloc[:4,0:]=np.nan
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,4.9,3.1,1.5,0.1

### Step 10.  Delete the rows that have NaN

In [37]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [39]:
iris.reset_index()

,index,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,8,4.9,3.1,1.5,0.1
1,9,5.4,3.7,1.5,0.2
2,10,4.8,3.4,1.0,0.2
3,11,4.8,3.0,1.0,0.1
4,12,4.3,3.0,1.0,0.1
...,...,...,...,...,...
136,144,6.7,3.0,5.2,2.3
137,145,6.3,2.5,5.0,1.9
138,146,6.5,3.0,5.2,2.0
139,147,6.2,3.4,5.4,2.3
140,148,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.

In [41]:
iris.describe()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
count,141.000000,141.000000,141.000000,141.000000
mean,5.906383,3.036170,3.836879,1.260284
std,0.810927,0.434787,1.818689,0.745547
min,4.300000,2.000000,1.000000,0.100000
25%,5.200000,2.800000,1.500000,0.400000
50%,5.800000,3.000000,4.500000,1.400000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000