Adding a Holiday

In [19]:
import pandas as pd
from pandas.tseries.offsets import CustomBusinessDay
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=7, day=22),   
    ]
egypt_weekdays = "Sun Mon Tue Wed Thu" 

b = CustomBusinessDay(weekmask=egypt_weekdays,calendar=myCalendar())

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-23',
               '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27'],
              dtype='datetime64[ns]', freq='C')

Replace a value in a specific  cell

In [6]:
import pandas as pd 
df=pd.read_csv("student-mat.csv",sep=";")
df.head(2)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2 G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6  6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5  6

[2 rows x 33 columns]

In [7]:
df.at[1,'sex']='M'

In [8]:
df.head(2)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2 G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6  6
1     GP   M   17       U     GT3       T  ...     1       3        4  5  5  6

[2 rows x 33 columns]

In [9]:
df.loc[0].at['sex']='M'

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_values(loc, value)

In [10]:
df.head(2)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2 G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6  6
1     GP   M   17       U     GT3       T  ...     1       3        4  5  5  6

[2 rows x 33 columns]

In [11]:
df.at[0,'sex']='M'

In [12]:
df.head(2)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2 G3
0     GP   M   18       U     GT3       A  ...     1       3        6  5  6  6
1     GP   M   17       U     GT3       T  ...     1       3        4  5  5  6

[2 rows x 33 columns]

Melt and Unmelt the data

In [20]:
import pandas as pd

d1 = {"Name": ["Pankaj", "Lisa", "David"], "ID": [1, 2, 3], "Role": ["CEO", "Editor", "Author"]}

df = pd.DataFrame(d1)

# print(df)

df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", "Role"], var_name="Attribute", value_name="Value")

print(df_melted)

# unmelting using pivot()

df_unmelted = df_melted.pivot(index='ID', columns='Attribute')

print(df_unmelted)

   ID Attribute   Value
0   1      Name  Pankaj
1   2      Name    Lisa
2   3      Name   David
3   1      Role     CEO
4   2      Role  Editor
5   3      Role  Author
            Value
Attribute    Name    Role
ID
1          Pankaj     CEO
2            Lisa  Editor
3           David  Author